@media screen and (prefers-color-scheme: light) {
    :root {
        --system-red-color: rgb(255, 49, 38);
        --system-orange-color: rgb(245, 139, 0);
        --system-yellow-color: rgb(245, 194, 0);
        --system-green-color: rgb(30, 195, 55);
        --system-mint-color: rgb(0, 189, 180);
        --system-teal-color: rgb(46, 167, 189);
        --system-cyan-color: rgb(65, 175, 220);
        --system-blue-color: rgb(0, 112, 245);
        --system-indigo-color: rgb(84, 82, 204);
        --system-purple-color: rgb(159, 75, 201);
        --system-pink-color: rgb(245, 35, 75);
        --system-brown-color: rgb(152, 122, 84);
        --system-gray-color: rgb(132, 132, 137);
        --background-color: white;
        --color: rgb(27,27,27);
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --system-red-color: rgb(255, 79, 68);
        --system-orange-color: rgb(255, 169, 20);
        --system-yellow-color: rgb(255, 224, 20);
        --system-green-color: rgb(60, 225, 85);
        --system-mint-color: rgb(108, 224, 219);
        --system-teal-color: rgb(68, 212, 237);
        --system-cyan-color: rgb(90, 205, 250);
        --system-blue-color: rgb(20, 142, 255);
        --system-indigo-color: rgb(99, 97, 242);
        --system-purple-color: rgb(204, 101, 255);
        --system-pink-color: rgb(255, 65, 105);
        --system-brown-color: rgb(182, 152, 114);
        --system-gray-color: rgb(162, 162, 167);
        --background-color: rgb(18,18,18);
        --color: rgb(176,176,176);
    }
}

* {
    font-family: -apple-system, sans-serif;
}

html {
    background-color: var(--background-color);
    color: var(--color);
}

.margin-zero {
    margin: 0;
}

.text-decoration-none {
    text-decoration: none;
}

.width-100pct {
    width: 100%;
}

.font-size-1em {
    font-size: 1em;
}

.font-size-12em {
    font-size: 1.2em;
}

.font-size-15em {
    font-size: 1.5em;
}

.font-weight-bold {
    font-weight: bold;
}

.padding-bottom-025em {
    padding-bottom: 0.25em;
}

.grid-2cols-1fr2fr {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0.5em;
}

nav {
    height: 2em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: var(--color);
    padding: 0.5em;
}

nav.details .details,
nav.store-products .store-products,
nav.search .search {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--system-gray-color);
    text-underline-offset: 6px;
}

.products {
    padding: 0 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
}

@media only screen and (max-device-width: 800px) {
    .products {
        padding: 0 0.5em;
        grid-template-columns: 1fr;
    }
}

.products .product {
    color: inherit;
    padding: 0.5em 1em;
}

.products .product .text-properties {
    color: var(--system-gray-color);
    font-size: 0.5em;
    font-weight: normal;
}

.product-details {
    margin: 0;
    margin-bottom: 3em;
    padding: 0 15%;
}

@media only screen and (max-device-width: 800px) {
    .product-details {
        padding: 0 1em;
    }
}

.product-details .text-properties {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
}

.product-details .text-properties > * {
    padding: 0.5em 0;
}

.product-details .text-properties h2 {
    font-size: 1em;
    margin: 0;
}

.product-details .text-properties ul {
    list-style: none;
    margin: 0;
}

.product-details .text-properties .property-title {
    font-weight: bolder;
    color:var(--system-gray-color)
}

.product-details .text-properties .property-value a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.product-details .videos {
    display: flex;
    justify-content: center;
}

.product-details .videos video {
    margin: 1em 0;
}

.product-details .screenshots {
    display: flex;
    justify-content: center;
}

.product-details .screenshots a {
    margin: 1em 0;
}

.product-details details {
    margin: 1em 0;
    font-weight: bold;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 0.75em;
    padding: 4em 0 1em 0;
    color: var(--system-gray-color);
}

footer a {
    color: inherit;
}

form {
    margin: 2em calc(50% - 150px);
    width: 300px;
    display: inline-flex;
    justify-items: center;
    flex-direction: column;
    align-items: start;
}

form #search-text-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    width: 100%;
}

form details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em 0;
}

form details summary {
    cursor: pointer;
}

form details div {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1em;
    width: 100%;
    padding: 0.5em 0 0 0;
}
