:root {
    --product-card-width: calc(50 * var(--s-n));
}

@scope (.product-poster) {
    :scope {
        & img {
            width: var(--product-card-width);
            height: 370px;
        }
    }

    @media only screen and (max-width: 800px) {
        :scope {
            & img {
                max-width: 100%;
                height: unset;
            }
        }
    }
}