.fg-subtle {
    color: var(--c-subtle);
}

.fw-b {
    font-weight: var(--fw-b);
}

.fs-xs {
    font-size: var(--fs-xs)
}

product-card {
    --s-snh: calc((var(--s-n) + var(--s-s))/2);

    & svg {
        width: var(--s-snh);
        height: var(--s-snh);
    }

    & .labels {
        margin-block-end: auto;

        & .label {
            background-color: var(--c-highlight);
            color: var(--c-foreground);
            font-size: var(--fs-xxs);
            display: flex;
            align-items: center;
            align-content: center;
            width: min-content;
            text-transform: uppercase;
            padding: var(--s-xxs) var(--s-xs);
            border-radius: var(--br-n);
            white-space: nowrap;
            font-weight: var(--fw-b);

            &.owned {
                color: var(--c-highlight);
                background-color: var(--c-subtle);
            }

            &.owned.validation-result-ok {
                color: var(--c-highlight);
                background-color: var(--c-green);
            }

            &.owned.validation-result-err {
                color: var(--c-highlight);
                background-color: var(--c-yellow);
            }

            /* GAME, DLC, PACK */

            &.product-type {
                color: var(--c-highlight);
                background-color: var(--c-foreground);
            }

            /* Release timeline labels */
            &.tba,
            &.coming-soon,
            &.pre-order,
            &.in-development {
                color: var(--c-highlight);
                background-color: var(--c-teal);
            }

            /* Engine/Source-port labels */
            &.is-using-dosbox,
            &.is-using-scummvm {
                color: var(--c-highlight);
                background-color: var(--c-color);
            }

            /* User tags */

            &.tag,
            &.local-tags {
                color: var(--c-highlight);
                background-color: var(--c-indigo);
            }

            /* Sale/price lifecycle labels */
            &.wishlisted {
                color: var(--c-highlight);
                background-color: var(--c-orange);
            }

            &.is-free,
            &.discount-percentage {
                color: var(--c-highlight);
                background-color: var(--c-red);
            }

            /* Download types */
            &.installer {
                color: var(--c-highlight);
                background-color: var(--c-purple);
            }

            &.downloadable-content {
                color: var(--c-highlight);
                background-color: var(--c-green);
            }

            &.extra {
                color: var(--c-highlight);
                background-color: var(--c-orange);
            }
        }
    }

    issa-image {
        width: 85px;
        height: 120px;

        & img {
            width: 85px;
            height: 120px;
        }
    }
}