.fg-subtle {
    color: var(--c-subtle);
}

.fw-b {
    font-weight: var(--fw-b);
}

.fs-s {
    font-size: var(--fs-s)
}

.fs-xs {
    font-size: var(--fs-xs)
}

.updates-show-all,
.search-show-more {
    width: 100%;
    max-width: calc(5 * var(--s-xl));
}

@container (max-width: 592px) {
    .updates-show-all,
    .search-show-more {
        max-width: unset;
    }
}

.footer {
    & a {
        font-weight: var(--fw-b);
        color: var(--c-foreground);
    }
}

.label {

    &.owned {
        color: var(--c-highlight);
        background-color: var(--c-subtle);
    }

    &.owned.validation-result-ok {
        color: var(--c-highlight);
        background-color: var(--c-green);
    }

    &.owned.validation-result-err {
        color: var(--c-highlight);
        background-color: var(--c-yellow);
    }

    /* GAME, DLC, PACK */

    &.product-type {
        color: var(--c-highlight);
        background-color: var(--c-foreground);
    }

    /* Release timeline labels */

    &.tba,
    &.coming-soon,
    &.pre-order,
    &.in-development {
        color: var(--c-highlight);
        background-color: var(--c-teal);
    }

    /* Engine/Source-port labels */

    &.is-using-dosbox,
    &.is-using-scummvm {
        color: var(--c-highlight);
        background-color: var(--c-color);
    }

    /* User tags */

    &.tag,
    &.local-tags {
        color: var(--c-highlight);
        background-color: var(--c-indigo);
    }

    /* Sale/price lifecycle labels */

    &.wishlisted {
        color: var(--c-highlight);
        background-color: var(--c-orange);
    }

    &.is-free,
    &.discount-percentage {
        color: var(--c-highlight);
        background-color: var(--c-red);
    }

    /* Download types */

    &.installer {
        color: var(--c-highlight);
        background-color: var(--c-purple);
    }

    &.downloadable-content {
        color: var(--c-highlight);
        background-color: var(--c-green);
    }

    &.extra {
        color: var(--c-highlight);
        background-color: var(--c-orange);
    }
}

@container (max-width: 592px) {
    product-card {
        max-width: calc(100% - 2 * var(--s-n));
    }
}