{{define "nav"}}
    <nav class="{{.}}">
        <a class="details text-decoration-none" href="/account">Account</a>
        <a class="store-products text-decoration-none" href="/store">Store</a>
        <a class="search text-decoration-none" href="/search">Search</a>
    </nav>
{{end}}