{{define "products-list"}}
    <!doctype html>
    <html lang="en">
    {{template "head"}}
    <body class="margin-zero">
    {{template "nav" .Context}}
    {{template "products" .Products}}
    </body>
    </html>
{{end}}