{{define "search"}}
    <!doctype html>
    <html lang="en">
    {{template "head"}}
    <body class="margin-zero">
    {{template "nav" .Context}}
    {{template "search-properties" .Query}}
    {{template "products" .Products}}
    {{if .Products}}
        {{template "footer"}}
    {{end}}
    </body>
    </html>
{{end}}