{{define "changelog-page"}}
    <!doctype html>
    <html lang="en">
    {{template "head" .}}
    <body id="changelog">
    <div id="changelog-content">
        {{if .Changelog}}
            {{.Changelog}}
        {{else}}
            Changelog is not available for this product
        {{end}}
    </div>
    </body>
    </html>
{{end}}