{{define "css-updates"}}
    <style id="css-updates">

        section.updates-container {
            padding: 1em 0 4em;
        }

        .no-updates {
            text-align: center;
        }

        .section-title {
            font-size: 1.5em;
            margin: 1.5em 0 0;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }
    </style>
{{end}}