{{define "css-updates"}}
    <style id="css-updates">

        section.updates-container {
            padding: var(--normal) 0 0;
        }

        .no-updates {
            text-align: center;
        }

        .section-title {
            font-size: 1.25em;
            margin: var(--large) 0 0;
            text-align: center;
            text-transform: capitalize;
            width: 100%;
            font-weight: bold;
        }
    </style>
{{end}}
