{{define "find"}}
    <!doctype html>
    <html lang="en">
    {{template "head" .}}
    <body>
    {{template "svg-icons"}}
    {{template "nav" .Context}}
    {{template "search-properties" .Query}}
    {{template "search-query" .Query}}
    {{template "products" .Products}}
    {{if .Products}}
        {{template "footer"}}
    {{end}}
    </body>
    </html>
{{end}}