{{define "nav"}}
    <nav>
        <a class="{{if eq . "updates"}}{{`current`}}{{end}}" accesskey="u" href="/updates">Updates</a>
        <a class="{{if eq . "filter-products"}}{{`current`}}{{end}}" accesskey="p" href="/products">Products</a>
    </nav>
{{end}}