{{define "nav"}}
    <nav>
        <a class="updates {{if eq . "updates"}}{{`current`}}{{end}}" accesskey="u" href="/updates">Updates</a>
        <a class="filter-products {{if eq . "filter-products"}}{{`current`}}{{end}}" accesskey="p" href="/search">Products</a>
    </nav>
{{end}}