{{define "news"}}
    <!doctype html>
    <html lang="en">
    {{template "head" "news"}}
    <body>
    {{template "nav" .Context}}
    {{$sectionProducts := .SectionProducts}}
    {{range .Sections}}
        <h1 class="section-title">{{.}}</h1>
        {{$products := index $sectionProducts .}}
        {{template "products" $products.Products}}
    {{end}}
    {{template "footer"}}
    </body>
    </html>
{{end}}