{{define "products-list"}}
    <!doctype html>
    <html lang="en">
    {{template "head" .}}
    <body>
    {{template "svg-icons"}}
    {{template "nav" .Context}}
    {{template "products" .Products}}
    {{template "footer"}}
    </body>
    </html>
{{end}}