{{define "product-details-shortcuts"}}
    {{if .Sections}}
        <section class="shortcuts">
            <ul class="property-value flexible">
                {{$sectionTitles := .SectionTitles}}
                {{range .Sections}}
                    {{$title := index $sectionTitles .}}
                    <li><a href="#{{.}}">{{$title}}</a></li>
                {{end}}
            </ul>
        </section>
    {{end}}
{{end}}