{{define "product-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head" .}}
    <body>
    {{template "nav"}}
    {{template "product-details" .}}
    {{template "footer"}}
    {{template "script-image-fade-in"}}
    </body>
    </html>
{{end}}