{{define "product-details-image"}}
    {{if .Image }}
        <div class="cover-image">
            <a href="/image?id={{.Image}}"
               {{if .DehydratedImage}}style="background-image:url('{{.DehydratedImage}}')"{{end}}>
                <img class="loading" src="/image?id={{.Image}}" alt=""/>
            </a>
        </div>
    {{end}}
{{end}}