{{define "product-page"}}
    <!doctype html>
    <html lang="en">
    {{template "head" .}}
    <body>
    {{template "nav"}}
    {{template "product-details" .}}
    {{template "footer"}}
    </body>
    </html>
{{end}}