{{define "screenshots-content"}}
    {{if .Screenshots}}
        {{range .Screenshots}}
            <a target="_top" href="/image?id={{.}}" aria-label="open original screenshot file">
                <img class="screenshot" loading="lazy" decoding="auto" src="/image?id={{.}}" alt=""/>
            </a>
        {{end}}
    {{else}}
        Screenshots are not available for this product
    {{end}}
{{end}}