{{define "script-image-fade-in"}}
    <script id="script-image-fade-in">
    document.addEventListener("DOMContentLoaded", () => {
            const image = document.querySelector(".cover-image img");
            if (image.complete) {
                image.classList.remove("loading");
            } else {
                image.addEventListener("load", () => {
                    image.classList.remove("loading");
                });
            }
        });

    </script>
{{end}}