{{define "script-iframe-size-receive-message"}}
    <script id="iframe-size-receive-message">
        window.addEventListener("message", e => {
            msg = JSON.parse(e.data);
            document.querySelector(`#${msg.context} iframe`).style.height = msg.height + 64 + "px";
        });
    </script>
{{end}}