{{define "search-query"}}
    <ul class="search-query">
        {{range $property, $value := .}}
            {{if $value}}
                <li>
                    <span class="property-title">{{searchPropertyName $property}}:</span>
                    <span class="property-value">{{$value}}</span>
                </li>
            {{end}}
        {{end}}
    </ul>
{{end}}