{{define "steam-deck-content"}}
    <div class="message">{{.Message}}</div>
    <hr />
    {{if .BlogUrl}}
        <a href="{{.BlogUrl}}">Read more in the Steam blog</a>
    {{end}}
    <ul>
        {{range .Results}}
            <li>{{.}}</li>
        {{end}}
    </ul>
{{end}}
