{{define "steam-news-page"}}
    <!doctype html>
    <html lang="en">
    {{template "head" .}}
    <body id="steam-news">
    <div id="steam-news-content">
        {{template "product-details-steam-news" .}}
    </div>
    </body>
    </html>
{{end}}