{{define "steam-deck-content"}}
    <div class="message">{{.Message}}</div>
    {{if .Results}}
        <hr/>
    {{end}}
    {{if .BlogUrl}}
        <a href="{{.BlogUrl}}">Read more in the Steam blog</a>
    {{end}}
    <ul>
        {{$displayTypes := .DisplayTypes}}
        {{range $ii, $result := .Results}}
            <li class="{{index $displayTypes $ii}}">{{$result}}</li>
        {{end}}
    </ul>
{{end}}
