{{define "steam-reviews-page"}}
    <!doctype html>
    <html lang="en">
    {{template "head" .}}
    <body id="steam-reviews">
    <div id="steam-reviews-content">
        {{template "product-details-steam-reviews" .}}
    </div>
    </body>
    </html>
{{end}}