{{define "steam-app-news-page"}}
    <!doctype html>
    <html lang="en">
    {{template "head" .}}
    <body id="steam-app-news">
    <div id="steam-app-news-content">
        {{template "product-details-steam-app-news" .SteamAppNews}}
    </div>
    </body>
    </html>
{{end}}