{{define "svg-windows"}}
    <div class="svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.745 48.745" style="fill:var(--color)">
            <rect x="0" y="0" width="23.105" height="23.105"/>
            <rect x="25.64" y="0" width="23.105" height="23.105"/>
            <rect x="0" y="25.64" width="23.105" height="23.105"/>
            <rect x="25.64" y="25.64" width="23.105" height="23.105"/>
        </svg>
    </div>
{{end}}